In [59]:
# Imports
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

import json
import os

import mysql.connector
from enum import Enum

import pyspark.sql.functions as func

In [13]:
def parse_JSON_list(filename):
    branch_list = []

    with open(filename) as f:
        data = json.load(f)

    for i in data:
        branch_list.append(i)

    f.close()

    return branch_list

In [14]:
def process_directory(directoryName):
    parsed_list = {}
    for filename in os.listdir(directoryName):
        f = os.path.join(directoryName, filename)
        if os.path.isfile(f):
            table_name = filename.split(".")[0].upper()
            parsed_list[table_name] = parse_JSON_list(f)
        else:
            print("Unable to find", f)
    return parsed_list

In [15]:
class TABLE_NAME(Enum):
    CDW_SAPP_CREDIT = "CDW_SAPP_CREDIT"
    CDW_SAPP_BRANCH = "CDW_SAPP_BRANCH"
    CDW_SAPP_CUSTOMER = "CDW_SAPP_CUSTOMER"

In [33]:
# create the SparkSession
spark = SparkSession.builder.appName('Bank_Analysis').getOrCreate()

parsed_lists = process_directory("json")

for name in parsed_lists:
    match name:
        case "CDW_SAPP_CREDIT":
            rdd_credit = spark.createDataFrame(parsed_lists["CDW_SAPP_CREDIT"])
        case "CDW_SAPP_BRANCH":
            rdd_branch = spark.createDataFrame(parsed_lists["CDW_SAPP_BRANCH"])
        case "CDW_SAPP_CUSTOMER":
            rdd_customer = spark.createDataFrame(parsed_lists["CDW_SAPP_CUSTOMER"])
        case _:
            print(name, "was not a recognized JSON file")

In [60]:
rdd_customert = rdd_customer.withColumn("FULL_STREET_ADDRESS", func.concat(rdd_customer["STREET_NAME"], func.lit(", ") , rdd_customer["APT_NO"]))

rdd_customert.show()

+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME| FULL_STREET_ADDRESS|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|Main Street North...|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|  Redwood Drive, 829|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|12th Street East,...|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|Country Club Road...|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street| Madison Street, 301|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|   Colonial Drive, 3|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|  Belmont Avenue, 84|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|   Oxford Court, 728|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|   Forest Street, 81|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|   Court Street, 561|
|   622|4210653310817373|  Youngstown|United States|EThomson@example.com|   1241363|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      Denny|123457639|    Cypress Court|  Cypress Court, 622|
|   924|4210653310844617| Summerville|United States| ETruong@example.com|   1236228|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   Isabelle|123453242|  8th Street West|8th Street West, 924|
|   611|4210653311015303|      ElPaso|United States|HMckinney@example...|   1238165|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      Henry|123454339|      East Avenue|    East Avenue, 611|
|   680|4210653311215039|      Fenton|United States|   RKidd@example.com|   1234730|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     Rickey|123454537|         Route 44|       Route 44, 680|
|    71|4210653311229354|  Grandville|United States|ABallard@example.com|   1242113|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  Heriberto|123452373|    Warren Street|   Warren Street, 71|
|   195|4210653311652836|    YubaCity|United States| PThomas@example.com|   1239888|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   Angelita|123455343|     Jones Street|   Jones Street, 195|
|   500|4210653311707126|   CapeCoral|United States| JMorrow@example.com|   1240158|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   Dorothea|123451533|       New Street|     New Street, 500|
|   989|4210653311730764|  Brookfield|United States|NAndrews@example.com|   1241408|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  Jefferson|123459278|  Division Street|Division Street, 989|
|   810|4210653311898082|    Richmond|United States|MSchneider@exampl...|   1238390|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     Maximo|123456915|     Maple Street|   Maple Street, 810|
|   649|4210653312021765| WestChester|United States|PTidwell@example.com|   1235067|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    Arnulfo|123453807|       Eagle Road|     Eagle Road, 649|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
only showing top 20 rows

root
 |-- _corrupt_record: string (nullable = true)