In [2]:
import mysql.connector as dbconnect
from mysql.connector import Error
import my_secrets
from TBL_NAME import TBL_NAME
import calendar

In [4]:
# customer: 
def build_query(table_name: TBL_NAME):
    if table_name == TBL_NAME.CREDIT:
        valid_input = False
        
        while not valid_input:
            input_zip = input("Enter a five digit zip code: ")
            if len(input_zip) == 5:
                if input_zip.isnumeric():
                    valid_input = True
            print("Zip code must be a five digit number!")

        valid_input = False
        while not valid_input:
            input_month = input("Enter month as a number(1-12):")
            if input_month.isnumeric():
                month = int(input_month)
                if month >= 1 and month <= 12:
                    if month >= 1 and month <= 9:
                        input_month = "0" + input_month
                    valid_input = True
                else: print("Invalid input, must be between 1 and 12!")
            else:
                print("Invalid input, must be a number!")
        
        valid_input = False
        while not valid_input:
            input_year = input("Enter year:")
            if input_year.isnumeric():
                year = int(input_year)
                if year >= 1970 and year <= 2024:
                    valid_input = True
                else: print("Invalid input, must be between 1 and 12!")
            else:
                print("Invalid input, must be a number!")
        
    # query = where customer.zip = input_zip AND CONCAT(year, month) LIKE credit.TIMEID[0:6]
    return input_zip, input_month, input_year

Zip code must be a five digit number!
Invalid input, must be between 1 and 12!

('02145', 12, 1970)

In [5]:

def all_details(table_name: TBL_NAME):
    inputs = build_query(table_name)
    if table_name == TBL_NAME.CUST:
        query = "SELECT * FROM CDW_SAPP_CUSTOMER"
        
    elif table_name == TBL_NAME.CREDIT:
        query = "SELECT *, SUBSTRING(CREDIT.TIMEID, 7) AS DAY FROM CDW_SAPP_CREDIT AS CREDIT\
            JOIN CDW_SAPP_BRANCH AS BRANCH ON CREDIT.BRANCH_CODE = BRANCH.BRANCH_CODE\
            WHERE SUBSTRING(CREDIT.TIMEID, 1, 6) = " + inputs[2] + inputs[1] + " AND \
            BRANCH.BRANCH_ZIP = " + inputs[0] + " ORDER BY DAY DESC"

    conn = None
    try: 
        conn = dbconnect.connect(host='localhost', user=my_secrets.username, database='creditcard_capstone', password=my_secrets.password)

        if conn.is_connected():
            print('Connected to MySQL database')
            cursor = conn.cursor()
            cursor.execute(query)
            df = cursor.fetchall()

            conn.close()
                    
    except Error as e:
        print("Conection failed!", e)
    
    return df

In [6]:
'''
2 = first name

'''
def display_output(results: list[str], TABLE: TBL_NAME):
    if TABLE == TBL_NAME.CUST:
        for row in results:
            full_name = " ".join([row[1], row[2], row[3]])
            ssn_redacted = "***-**-" + str(row[0])[5:]
            cc_redacted = "**** **** **** " + str(row[4])[12:]
            street = row[5]
            city = row[6]
            state = row[7]
            country = row[8]
            zip = row[9]
            phone = row[10]
            email = row[11]

    elif TABLE == TBL_NAME.CREDIT:
        for row in results:
            cc_redacted = "**** **** **** " + str(row[0])[12:]
            ssn_redacted = "***-**-" + str(row[1])[5:]
            time = str(row[2])[0:4] + "/" + str(row[2])[4:6] + "/" + str(row[2])[6:]
            branch_code = row[3]
            t_type = row[4]
            t_value = row[5]
            t_id = row[6]

In [7]:
results = all_details(TBL_NAME.CREDIT)
display_output(results, TBL_NAME.CREDIT)
#rint(results, TBL_NAME.CREDIT)

Zip code must be a five digit number!
Invalid input, must be a number!
Connected to MySQL database

In [ ]:
results = all_details(TBL_NAME.CUST)

display_output(results, TBL_NAME.CUST)